<%= simple_form_for firm,
    data: {
      insert_in_list_target: "form",
      action: "submit->insert-in-list#scrap"
    } do |f| %>
  <div class="form-inputs" data-insert-in-list-target="firm">
  <%= f.input :name %>
  </div>

  <div class="form-actions">
  <%= f.button :submit, class:"btn btn-primary" %>
  </div>
<% end %>
