<div class="container shadow-sm mx-auto p-3 m-3 bg-light">
  <h1>Déambulation dans le cimetière</h1>
  <br>

  <div id="game-container" class="d-flex justify-content-center align-items-center">
    <div id="game" data-controller="game">
      <!-- Contenu du jeu -->
    </div>
  </div>

  <!-- Inclure le fichier JavaScript spécifique à cette vue -->
  <%= javascript_pack_tag 'game' %>
</div>
